* {
    box-sizing: border-box;
}



body {
    font-family: "Roboto", sans-serif;
    margin: 0;
    background-color: #3d373c;
}

/* header styles */
header {
    background-color: #4a4e74;
    padding: 1rem 10px;
}

header span {
    color: #ecebe3;
    font-size: 1.6rem;
    font-weight: 700;
}

header p {
    color: #ecebe3;
    margin-bottom: 0;
    font-size: .9rem;
    font-weight: 300;
}
/* nav small screen */
@media only screen and (max-width: 600px) {
    nav ul {
        margin: 0;
        padding: 0;
    }
    nav a {
        display: block;
        text-align: center;
        padding: .8rem;
        color: #ecebe3;
        text-decoration: none;
        border-bottom: solid 1px #3d373c;
        font-weight: 700;
        text-transform: uppercase;
        border-radius: 5px;
    }
    nav .active a {
        background-color: #ecebe3;
        color: #464849;
        background-image: linear-gradient(to bottom, #ecebe3, #42a4c0);
    }
}
/* nav large screen*/
@media only screen and (min-width: 601px) {
    nav {
        background-color: #464849;
    }

    nav ul {
        margin: 0;
        padding: 0rem 10px;
        list-style-type: none;
        display: flex;
    }

    nav a {
        display: flex;
        padding: .83rem 1rem;
        text-decoration: none;
        font-size: 1.1rem;
        color: #ecebe3;
        font-weight: 700;
        border: solid 3px #464849;
        border-radius: 10px;
    }

    nav li a:hover {
        color: #42a4c0;
    }

    nav li.active a {
        background-color: #ecebe3;
        color: #464849;
    }
}

/* main content */
.hero {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

main {
    padding: 1rem 10px;
    background-color: #3d373c;
    line-height: 150%;
}

main h1 {
    color: #ecebe3;
    margin-top: 0;
}

main h2 {
    color: #42a4c0;
    margin-bottom: .2rem;
}

main p {
    margin: 0;
    color: #ecebe3;
}

main strong {
    color: white;
    font-weight: 700;
}

main em {
    font-style: italic;
    color: #42a4c0;
}

main ol {
    padding: .5rem 30px;
    color: #ecebe3;
}

main dl dt {
    color: #ecebe3;
    font-weight: 700;
    margin-top: 1rem;
    margin-left: 20px;
    padding-bottom: .2rem;
}

main dl dd {
    color: #ecebe3;
    font-size: .9rem;
    margin-left: 40px;
    padding-bottom: .5rem;
}

main h3 {
    color: #3c86c0;
    margin-bottom: .2rem;
    margin-top: 1rem;
}

main ul {
    list-style-type: none;
    color: #ecebe3;
    margin: 0;
    padding-left: 0;
}

main ul li {
    line-height: 125%;
    margin-bottom: .5rem;
    font-size: .9rem;
    padding-left: 20px;
}

main a {
    color: #f5df85;
    text-decoration: none;
}

main a:hover {
    text-decoration: underline;
}

main address {
    color: #ecebe3;
    margin-top: 1rem;
    font-size: .9rem;
}

main iframe {
    border: none;
    border-radius: 10px;
    margin: 1rem 0;
    width: 100%;
    height: 400px;
}

main a {
    color: #f5df85;
}

main a:hover {
    text-decoration: underline;
}

main h2 {
    margin: 1rem 0 .5rem 0;
}

/* table styles */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1rem;
    background-color: #464849;
    color: #ecebe3;
    border-radius: 8px;
    overflow: hidden;
}

table th, td {
    padding: .6rem;
    border-bottom: 1px solid #3d373c;
    text-align: left;
}

table th {
    background-color: #3d373c;
    color: #f5df85;
}

table tr:nth-child(even) {
    background-color: #3d3b40;
}

table tr:hover {
    background-color: #42a4c022;
}





/* form styles */

.myForm {
    margin-bottom: 1rem;
}

.myForm legend {
    color: #43a0b6;
    font-size: .8rem;
}

.myForm fieldset {
    border: solid 2px #888;
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: .5rem;
}

.myForm label {
    margin: .5rem;
}

.myForm label,
.myForm select,
.myForm [type="text"],
.myForm [type="tel"],
.myForm [type="email"],
.myForm textarea {
    display: block;
    color: #ecebe3;
}

.myForm select,
.myForm [type="text"],
.myForm [type="tel"],
.myForm [type="email"],
.myForm textarea {
    border: solid 1px #888;
    padding: .3rem;
    width: 250px;
    border-radius: .3rem;
    font-family: "Roboto", sans-serif;
}


.myForm textarea {
    height: 6rem;
}

.myForm :required {
    background-color: rgba(245, 223, 133, 0.3);
}

.myForm [type="submit"] {
    background-color: #43a0b6;
    border: none;
    padding: 1rem 2rem;
    border-radius: 10px;
    color: white;
    margin: 1rem 0 0 1vw;
}












/* image styles */
figure.wrapped {
    margin: 0 0 0 10px;
    width: 40%;
    float: right;
}

figure.wrapped img {
    width: 100%;
    height: auto;
}

figure.wrapped figcaption {
    font-size: .75rem;
    text-align: center;
    color: #ecebe3;
}

/* gallery styles */
div.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 20px 10px;
}

div.gallery figure {
    margin: 0;
}

div.gallery figcaption {
    font-size: .8rem;
    text-align: center;
}

div.gallery figcaption.P {
    color: #c487cc;
}

div.gallery figcaption.K {
    color: #74a2f7;
}

div.gallery figcaption.S {
    color: #89d769;
}

div.gallery figcaption.H {
    color: #d77d70;
}

div.gallery figcaption.D {
    color: #cd9f47;
}

div.gallery img {
    width: 150px;
    height: auto;
    border-radius: 5px;
}

div.gallery img:hover {
    box-shadow: 0px 0px 10px rgba(236,235,227,0.2);
    border-radius: 5px;
}

/* footer styles */
footer {
    clear: both;
    background-color: #464849;
    color: #949ba2;
    font-size: .8rem;
}

footer p {
    margin: 0;
    padding: .5rem 10px;
    text-align: center;
}

footer address {
    font-style: normal;
    color: #949ba2;
}

footer a {
    color: #b57958;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}


header,
nav,
main,
footer {
    max-width: 64rem;
    margin: 0 auto;
}