* {
    box-sizing: border-box;
}



body {
    font-family: "Inter", sans-serif;
    margin: 0;
    background-color: #edf6f9;
}

h1,
h2,
h3,
header span {
    font-family: "Montserrat", sans-serif;
}

/* header styles */
header {
    background: linear-gradient(to right, #006d77, #83c5be);
    padding: 1rem 10px;
}

header h1 {
    color: #fafafa;
    font-size: 1.6rem;
    font-weight: 700;
}

header p {
    color: #fafafa;
    margin-bottom: 0;
    font-size: .9rem;
    font-weight: 300;
}

/* nav small screen */
@media only screen and (max-width: 615px) {
    nav ul {
        background: linear-gradient(to right, #006d77, #83c5be);
        margin: 0;
        padding: 0;
    }

    nav a {
        display: block;
        text-align: center;
        padding: .6rem;
        color: #fafafa;
        text-decoration: none;
        border-bottom: solid 1px #83c5be;
        font-weight: 700;
        text-transform: uppercase;
        border-radius: 5px;
    }

    nav .active a {
        background-color: #e5f4f2;
        color: #006d77;
    }
}

/* nav large screen*/
@media only screen and (min-width: 616px) {
    nav {
        background: linear-gradient(to right, #006d77, #83c5be);
    }

    nav ul {
        margin: 0;
        padding: 0rem 10px;
        list-style-type: none;
        display: flex;
    }

    nav a {
        display: flex;
        padding: .83rem 1rem;
        text-decoration: none;
        font-size: 1.1rem;
        color: #fafafa;
        font-weight: 700;
    }

    nav li a:hover {
        color: #83c5be;
    }

    nav li.active a {
        background-color: #edf6f9;
        color: #006d77;
    }
}

/* main content */
.hero {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

main {
    padding: 1rem 10px;
    background-color: #edf6f9;
    line-height: 150%;
}

main h1 {
    color: #006d77;
    margin-top: 0;
}

main h2 {
    color: #0081a7;
    margin-bottom: .2rem;
    margin: 1rem 0 .5rem 0;
}

main p {
    margin: 0;
    color: #006d77;
}

main strong {
    color: #026a75;
    font-weight: 700;
}

main em {
    font-style: italic;
    color: #0081a7;
}


main h3 {
    color: #3c86c0;
    margin-bottom: .2rem;
    margin-top: 1rem;
}

main ul {
    list-style-type: none;
    color: #006d77;
    margin: 0;
    padding-left: 0;
}

main a {
    color: #0081a7;
    text-decoration: none;
    font-weight: 600;
}

main a:hover {
    text-decoration: underline;
}

main address {
    color: #006d77;
    margin-top: 1rem;
    font-size: .9rem;
}

main iframe {
    border: none;
    border-radius: 10px;
    margin: 1rem 0;
    width: 100%;
    height: 400px;
}

main a:hover {
    text-decoration: underline;
}

/*packages styles*/

.package-box {
    background-color: #e5f4f2;
    border: 2px solid #83c5be;
    border-radius: 10px;
    padding: 1rem;
    margin: 1.5rem 0;
    width: 100%;
}

.package-box img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin: 0.5rem 0 1rem 0;
}

.package-box:hover {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

.package-box h2 {
    margin-top: 0;
}

.package-box p {
    margin-bottom: 0.5rem;
}


/* contact styles */

.contact {
    margin-bottom: 1rem;
}

.contact legend {
    color: #0081a7;
    font-size: .8rem;
}


.contact fieldset {
    border: solid 2px #83c5be;
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: .5rem;
    background-color: #e5f4f2;
}

.contact label {
    margin: .5rem;
}

.contact label,
.contact select,
.contact [type="text"],
.contact [type="tel"],
.contact [type="email"],
.contact textarea {
    display: block;
    color: #006d77;
}

.contact select,
.contact [type="text"],
.contact [type="tel"],
.contact [type="email"],
.contact textarea {
    border: 2px solid #83c5be;
    background-color: #edf6f9;
    padding: .3rem;
    width: 250px;
    border-radius: .3rem;
    font-family: "Roboto", sans-serif;
}


.contact textarea {
    height: 6rem;
}

.contact :required {
    background-color: rgba(131, 197, 190, 0.3);
}

.contact [type="submit"] {
    background-color: #006d77;
    border: none;
    padding: 1rem 2rem;
    border-radius: 10px;
    color: white;
    font-weight: 700;
    margin: 1rem 0 0 1vw;
}

/* image styles */
figure.wrapped {
    margin: 0 0 0 10px;
    width: 60%;
    float: right;
}

figure.wrapped img {
    width: 100%;
    height: auto;
}

figure.wrapped figcaption {
    font-size: .75rem;
    text-align: center;
    color: #ecebe3;
}

/* destinations styles */
div.destinations {
    display: flex;
    flex-wrap: wrap;
    gap: 20px 10px;
    justify-content: center;
}

div.destinations figure {
    background-color: #83c5be;
    border: 2px solid #ecebe3;
    border-radius: 8px;
    width: 450px;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #004f58;
}

div.destinations img {
    width: 400px;
    height: auto;
    border-radius: 5px;
    margin-top: 20px;
}

div.destinations figcaption {
    font-size: 1rem;
    text-align: center;
    margin: 0.5rem 0;
    font-weight: bold;
}

div.destinations figure:hover {
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.25);
}

/* footer styles */
footer {
    clear: both;
    background-color: #006d77;
    color: #e5f4f2;
    font-size: .8rem;
}

footer p {
    margin: 0;
    padding: .5rem 10px;
    text-align: center;
}

footer address {
    font-style: normal;
    color: #e5f4f2;
}

footer a {
    color: #e5f4f2;
    text-decoration: none;
    font-weight: 600;
}

footer a:hover {
    text-decoration: underline;
    color: #ffffff;
}


header,
nav,
main,
footer {
    max-width: 64rem;
    margin: 0 auto;
}